body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;  
    color: rgb(6, 38, 70); 
}
h3{
    font-size: 20px;
    font-weight: 300;
}
.name-highlight{
    color:brown;
}
.half-width{
    width:40%;
    float:left;
    margin-left: 2%;
    padding-left:2%;
    margin-right: 2%;
    padding-right: 2%;
}
.half-width img{
    width:60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg , lightsalmon, tomato);
    padding: 10px 20px;
    border: 10px;
    border-radius: 5px;
    color: white; 
}
#text-size{
    text-align: center;
    padding:2%;
}